* {
  box-sizing: border-box;
  margin: 10px;
  padding: 1px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  
}
.section-1{
  background-color: whitesmoke;
}

img {
max-width: 95%;
}

li {
  list-style-type: none;
  font-weight: bold;
}

.portfolio-container{
  justify-content: space-between;
}

.bio{
  background-color: whitesmoke;
}

footer{
  display: inline-flex;
  border-top: 1px outset;
  font-weight: bold;
}

.proj-1,
.proj-2,
.proj-3,
.proj-4,
.proj-5,
.proj-6{
  background-color: whitesmoke;
}

#contact{
  padding-top: 75px;
  background-color: whitesmoke;
}

.nav-footer{
  display: none;
}

@media (min-width: 768px) {
  .portfolio-container {
    display: flex;
    flex-wrap: wrap;
  }

.proj-1,
.proj-2,
.proj-3,
.proj-4,
.proj-5,
.proj-6 {
    flex-basis: calc(50% - 20px);
  }

.section-1{
  display: flex;
  flex-basis: calc(50% - 20px);
  flex-direction: row-reverse;
  padding-bottom: 50px;
  }

  .nav{
    width: 335px;
    display: flex;
    margin: auto;
  }

  .nav-footer{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0px;
  }

  .nav-footer li{
    padding-left: 20px;
    }

  .bio{
    font-size: 18px;
  }
  .top{
    display: none;
  }

  .contact-text{
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1024px) {
  header{
    display: flex;
  }

  .nav {
    width: 0;
    display: flex;
    margin: auto;
    padding-left: 25em;
  }

  .portfolio-container{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }

.project{
  list-style: none;
  flex: 1 1 330px;
}

.contact-text{
  max-width: 30em;
  margin-left: 27em;

.contact-info {
  font-weight: bolder;
}

.nav-footer{
  padding-left: 52em;
}

#contact{
  padding-bottom: 3em;
}
}